<html>
   <head>
     {% load staticfiles %}
     <link rel='stylesheet' href="{% static 'styles.css' %}">
   </head>
   <body>
     <p class="orange-text">Upload a picture up to 100KB and I will play it like it's sheet music</p>
      <form name = "form" enctype = "multipart/form-data"
         action = "{% url "pixel:saved" %}" method ="POST">{% csrf_token %}
         <input type="file" placeholder="Picture" name ="picture"/>
         <br><br>
         <button class="button-style" type="submit" value="Upload">
            <strong>Upload</strong>
         </button>
      </form>
      <div>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        {% if song.ok %}
          <p class="orange-text">Ready!</p>
        {% endif %}
        <form name = "form" enctype = "multipart/form-data" style="display:inline-block;"
           action = "{% url "pixel:play" %}" method ="POST">{% csrf_token %}
          <button class="button-style" type="submit" value="Play">
             <strong>Play</strong>
          </button>
        </form>
        <form name = "form" enctype = "multipart/form-data" style="display:inline-block;"
           action = "{% url "pixel:stop" %}" method ="POST">{% csrf_token %}
          <button class="button-style" type="submit" value="Stop">
             <strong>Stop</strong>
          </button>
        </form>
      </div>
   </body>
</html>
