<html>
   <head>
     {% load staticfiles %}
     <link rel='stylesheet' href="{% static 'styles.css' %}">
   </head>
   <body>
      <h1 class="tangerine">pixel_music</h1>
      <p class="tangerine">Upload a picture up to 100KB and see what it would
        sound like if you played the pixels like sheet music</p>
      <form name = "form" enctype = "multipart/form-data"
         action = "{% url "pixel:saved" %}" method ="POST">{% csrf_token %}
         <input type="file" placeholder="Picture" name ="picture"/>
         <br><br>
         <button class="button-style" type="submit" value="Upload">
            <strong>Upload</strong>
         </button>
      </form>
      <div>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        {% if song %}
          <p class="tangerine">Ready!</p>
        {% endif %}
        <form name = "form" enctype = "multipart/form-data" style="display:inline-block;"
           action = "{% url "pixel:play" %}" method ="POST">{% csrf_token %}
          <button class="button-style" type="submit" value="Play">
             <strong>Play</strong>
          </button>
        </form>
        <form name = "form" enctype = "multipart/form-data" style="display:inline-block;"
           action = "{% url "pixel:stop" %}" method ="POST">{% csrf_token %}
          <button class="button-style" type="submit" value="Stop">
             <strong>Stop</strong>
          </button>
        </form>
        <form name = "form" enctype = "multipart/form-data"
           action = "{% url "pixel:stats" %}" method ="POST">{% csrf_token %}
          <button class="button-style" style="width:160px;" type="submit" value="Stats">
             <strong>Click here if you like stats?</strong>
          </button>
        </form>
        {% if average_pixels and average_time %}
          <p class="tangerine">Average number of pixels in images uploaded here:
            <span class="powder">{{average_pixels}}</span></p>
          <p class="tangerine">Average image processing time in seconds:
            <span class="powder">{{average_time}}</span></p>
        {% endif %}
      </div>
   </body>
</html>
